<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product List</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Rathi Shoes Store</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/adminhome}" href="/adminhime">HOME</a>
                </li>
      <!--            <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">SHOP</a>
                </li>
              <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">LOGIN</a>
                </li>
       -->   
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/login}" href="/login">LOGOUT</a>
                </li>
     <!--           <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="/cart">CART</a>
                </li>
         -->       <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>      
                </li>
            </ul>

        </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List  </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/product/new}" class = "btn btn-primary btn-sm mb-3"> Add</a>
			</div>
		</div>
	<!--	<label>Search</label>
		<input type="text">
		<input type="button" value="Search">
	-->	
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Photo </th>
					<th> User Id </th>
					<th> Name</th>
					<th> Firm Name</th>
					<th> Category </th>
			<!--		<th> UPDATE </th>
					<th> DELETE </th>
			-->
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "product: ${product}">
            		<td><img src="" height="100px" width="100px"  th:src="@{${'/Photos/' + product.photo}}"></td>
					<td th:text =  "${product.userId}">  </td>
					<td th:text =  "${product.name}">  </td>
					<td th:text =  "${product.firmName}">  </td>
					<td th:text = "${product.category.name}"> </td>
			<!--		
					<td>
						<a th:href = "@{/admin/product/edit/{id}(id=${product.id})}"
						 class = "btn btn-primary">Update</a>
					</td>
					<td>	
						<a th:href = "@{/admin/product/{id}(id=${product.id})}"
						 class = "btn btn-danger">Delete</a>
					</td>
			-->	
					<!--	<td>
						<select class="form-control" th:field="*{product.category}" id="category" name="category">
	                        <option th:each="category :${product}"
	                                th:text="${category}"
	                        >
	                    </select>			
					</td>
				-->
				    <!--	<td th:text = "${product.photo}">  </td>    -->

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>